body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Bitter', serif;
}

p, button, a, small{
  font-family: 'Inter', sans-serif;
}

.card-wrapper{
  width: 280px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  top: 30px;
  overflow: hidden;
  box-shadow: 0 2.5rem 2rem -2rem hsl(299 50% 20% /40%);
}

.card-main-section{
  width: 100%;
  display: flex;
}

.card-icon-wrapper {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  position: relative;
  left: -48px;
  margin-top: 0.8rem;
  text-align: center;
  padding: 0 0 0.2rem;
}

.card-content-section{
  border-bottom: 1px solid #eee;

}

.card-rating-section, .card-price-section{
  padding: 8px 12px;
}

