p, button, a{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bitter', serif;
}

.logo img{
  width: 155px;
  height: 40px;
}
.scrolled{
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.main-section{
  background-color: #fdcd97;
  padding-bottom: 8rem;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.2s ease-in-out;

}

.navbar:hover{
  background-color: white;
}

.lead-header{
  font-size: 5rem;
  font-weight: 400;
  margin-top: 8rem;
  width: 100%;
}

.together{
  font-family: "Bitter", serif;
  display: block;
}

.sub-header{
  font-size: 2.5rem;
  font-weight: 400;
}

.animal-showcase{
  margin-top: 8rem;
}

.animal-showcase h3{
  font-size: 1.8rem;
}

.animal-showcase p, .animal-showcase a{
  font-size: 1.3rem;
}


.animal-showcase-text{
  text-align: start;
}

.animal-showcase-img{
  text-align: end;
}

.animal-showcase .row:not(:last-child){
  margin-bottom: 6rem;
}

/* .second{
  margin: 0 auto;
} */

.our-trust{
  background-color: #f3f3f3;
}

.recommendation{
  background-color: #fdcd97;
}


.our-trust-indi p{
  width: 80%;
  margin: 0 auto;
}

.recommendation{
  margin-top: 5rem;
  padding: 6rem 0 10rem;
}

footer{
  background-color: #333333;
  font-size: 0.95rem;
}

footer ul{
  list-style: none;
  padding-left: 0;
}


footer .social{
  list-style-type: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
.card.custom{
  box-shadow: 10px 5px 5px black;
  width: 300px;
  height: 400px;
}

.recommendation .recommend-indi > .card.custom:nth-of-type(2){
  margin: 0 auto;

}

.card.custom a{
  margin-top: 1rem;
}

/* Below Medium || Small and Below */
@media (max-width: 767px){
  .lead-header{
    font-size: 3rem;
  }

  .sub-header{
    font-size: 2rem;
  }

  .our-trust-indi:not(:last-child){
    margin-bottom: 1rem;
  }

  .footer-indi:not(:last-child){
    margin-bottom: 0.5rem;
  }
}

/* Below Large */
@media (max-width: 991px){

  .card.custom{
    width: 300px;
  }

  .recommend-indi:not(:last-child){
    margin-bottom: 3rem;
  }

  .animal-showcase-text, .our-trust-text{
    padding-right: 1rem;
    text-align: center;
    padding-left: 1rem;
  }

  .animal-showcase-img{
    order: -1;
    margin-bottom: 2rem;
    text-align: center;
  }
}

/* Large and Above */
@media (min-width: 992px){
  .animal-showcase .row:nth-of-type(2n) > .animal-showcase-text{
    order: 3;
    text-align: end;
    padding-right: 0.75rem;
    padding-left: 8rem;
  }
  
  .animal-showcase .row:nth-of-type(2n) > .animal-showcase-img{
    text-align: start;
  }
}


@media (min-width: 1200px){
  .layout-container{
    max-width: 1020px;
  }
}


